---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    {allPosts.map((post) => 
      <BlogPost
        description={post.data.description}
        pubDate={post.data.pubDate} 
        title={post.data.title}
        url={`/posts/${post.slug}`}
      />
    )}
    <!-- Más entradas de blog -->
  </section>
</BaseLayout>